body
{
  background-color: #a87a46;
}

p
{
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 600;
  text-align: left;
}

a 
{
  text-decoration: none;
}
a:link
{
  color: rgb(84, 14, 14);
}
a:visited
{
  color: rgb(84, 14, 14);
}
a:hover
{
  color: darkred;
}
a:active
{
  color: yellow;
}
#HamburgerMenu
{
  visibility: hidden;
}
.NavBar
{
  visibility: visible;
  width: 99%;
  border: solid #6a4b30;
  display:table;
  border-collapse: collapse;
  
  li
  {
    display: table-cell;
    text-align: center;
    box-sizing: border-box;
    width: 20%;

    border: solid #4e3212;
    background-color: #e9b477;
    color: #4e3212;
    font-size: large;
  }
}


@media only screen and (max-width:600px) 
{
  .NavBar
  {
    border: none;
    visibility: visible;

    width: 50px;
    height: 50px;
    
    display: block;
    border: none;
    position: absolute;
    top: 25px;
    right: 10px;
    background: linear-gradient(
      to bottom, 
      #51300d, #51300d 20%, 
      #a87a46 20%, #a87a46 40%, 
      #51300d 40%, #51300d 60%, 
      #a87a46 60%, #a87a46 80%, 
      #51300d 80%, #51300d 100%
    );
  }
    li
    {
      display: grid;
      visibility: hidden;
    }
}

#Title
{
  color: #4e3212;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xxx-large;
}

.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}

.container
{
  color: pink;
}

.GifImg
{
  float: right;
}
